.uk
  %header
    %h2
      United Kingdom
  .all-stats
    .stat
      %h4
        meal
      = @uk.meal
    .stat
      %h4
        mcdonalds
      = @uk.mcdonalds
    .stat
      %h4
        beer
      = @uk.beer
    .stat
      %h4
        coke
      = @uk.coke
    .stat
      %h4
        cigarettes
      = @uk.cigs
    .stat
      %h4
        rent
      = @uk.rent
    .stat
      %h4
        cinema
      = @uk.cinema
    .stat
      %h4
        jeans
      = @uk.jeans
    .stat
      %h4
        shoes
      = @uk.shoes
    .stat
      %h4
        taxi
      = @uk.taxi
    .stat
      %h4
        coffee
      = @uk.coffee

          
.other-country
  %form#search
    %select#country-select
  %header#other-header
  .other-all-stats
    